<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="supplyEntities" connectionString="metadata=res://*/DomainModel.csdl|res://*/DomainModel.ssdl|res://*/DomainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=dab54312403;database=supply;Persist Security Info=True;" />
        <add name="supplyEntities" connectionString="metadata=res://*/DomainModel.csdl|res://*/DomainModel.ssdl|res://*/DomainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=dab54312403;database=supply;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>